*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    height: 98vh;
    width: 100%;
}

p{
    font-family: 'Montserrat';
    font-size: 1.125em;
    color: hsl(228, 12%, 48%);

}
h1{
    font-size: 2.375em;
    font-family: 'Fraunces';
}

.perfume-card-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: hsl(32, 66%, 88%);

}
.perfume-card-section{
    display: flex;
}

.perfume-card-photo, .perfume-card-photo img{
    width:21.875em;
    border-radius: 3.125em 0em 0em 3.125em;
}

#perfume-card-category{
    display: flex;
    justify-content: left;
}

.perfume-card{
    background-color: white;
    width: 21.875em;
    height: 32.810625em;
    border-radius: 0em 3.125em 3.125em 0em;
    display: flex;
    flex-wrap: wrap;
    padding: 2.0625em;

}

.perfume-card-prices{
    display: inline-flex;
    flex-direction: row;
    font-family: 'Fraunces';
    font-size: 1.575em;
}
.perfume-card-prices h2{
    color:hsl(158, 36%, 37%);
}
.perfume-card-prices p{
    text-decoration: line-through;
}

.perfume-card-button{
    color: white;
    background-color: hsl(158, 36%, 37%);
    align-items: center;
    padding: 0em 5.875em;
    display: flex;
    font-size: 1em;
    border: none;
    border-radius: 0.85em;
}




